{% extends "layout.html" %}
{% block body %}

<form action="/AlumnoNuevoAgregado" method="POST">

    <label for="NombreCompleto">Nombre Completo</label>
    <input type="text" name="NombreCompleto" placeholder="NombreCompleto"><br><br>

    <label for="FechadeNacimiento">Fecha de Nacimiento</label>
    <input type="text" name="FechadeNacimiento" placeholder="DD/MM/AAAA"><br><br>

    <label for="Grado">Grado</label>
    <input type="text" name="Grado" placeholder="Grado"><br><br>  

    <label for="Grupo">Grupo</label>
    <input type="text" name="Grupo" placeholder="Grupo"><br><br>

    <button type="submit">
        Agregar Alumno
    </button>

</form>
{% endblock %}