{% extends "layout.html" %}
{% block body %}

<form action="/AlumnoNuevoAgregado" method="POST">

    <table border="10" cellspacing="10"cellpadding="10">
        <tr>
                <th colspan ="2" id="tcolor">Alumno Nuevo</th>
            </tr>
            <tr>
                <td colspan="2"><input type="text" name="NombreCompleto" placeholder ="Nombre completo*" size="70" maxlength="60"></td>
            </tr>
            
            <tr>
                <th>Fecha de nacimiento:</th>
                <th><input type="date" name="FechadeNacimiento"></th>
            </tr>
            <tr>
                <th>Porcentaje de beca:</th>
                <th><input type="text"  name="Beca" placeholder="%"></th>
            </tr>
            <tr>
                <th>Grupo:</th>
                <th><select id="Grupo" name ="GrupoId">
                        <option value ="1" >Kinder 1 A</option>
                        <option value ="2" >Kinder 1 B</option>
                        <option value ="3" >Kinder 2 A</option>
                        <option value ="4" >Kinder 2 B</option>
                        <option value ="5">Kinder 3 A</option>
                        <option value ="6">Kinder 3 B</option>
                        <option value ="7">1 A</option>
                        <option value ="8">1 B</option>
                        <option value ="9">2 A</option>
                        <option value ="10">2 B</option>
                        <option value ="11">3 A</option>
                        <option value ="12">3 B</option>
                        <option value ="13">4 A</option>
                        <option value ="14">4 B</option>
                        <option value ="15">5 A</option>
                        <option value ="16">5 B</option>
                        <option value ="17">6 A</option>
                        <option value ="18">6 B</option>
                        <option value ="19">7 A</option>
                        <option value ="20">7 B</option>
                        <option value ="21">8 A</option>
                        <option value ="22">8 B</option>
                        <option value ="23">9 A</option>
                        <option value ="24">9 B</option>
                    
                    </select></th>
            </tr>
            <tr>
                <th colspan ="2" id="tcolor">Información del primer tutor</th>
            </tr>
            <tr>
                <td colspan="2"><input type="text" name="Tutor1Nombre" placeholder ="Nombre completo*" size="70" maxlength="60"></td>
            </tr>
            
            <tr>
                <th>Correo:</th>
                <th><input type="text" name="Tutor1Correo" placeholder="Correo"></th>
            </tr>
            <tr>
                <th>Parentesco:</th>
                <th><input type="text" name="Tutor1Parentesco" placeholder="Parentesco"></th>
            </tr>
            <tr>
                <th>Dirección:</th>
                <th><input type="text" name="Tutor1Direccion" placeholder="Dirección"></th>
            </tr>
            <tr>
                <th>Teléfono:</th>
                <th><input type="text" name="Tutor1Telefono" placeholder="Teléfono"></th>
            </tr>
            
            <tr>
                <th colspan ="2" id="tcolor">Información del segundo tutor</th>
            </tr>
            <tr>
                <td colspan="2"><input type="text" name="Tutor2Nombre" placeholder ="Nombre completo*" size="70" maxlength="60"></td>
            </tr>
            
            <tr>
                <th>Correo:</th>
                <th><input type="text" name="Tutor2Correo" placeholder="Correo"></th>
            </tr>
            <tr>
                <th>Parentesco:</th>
                <th><input type="text" name="Tutor2Parentesco" placeholder="Parentesco"></th>
            </tr>
            <tr>
                <th>Dirección:</th>
                <th><input type="text" name="Tutor2Direccion" placeholder="Dirección"></th>
            </tr>
            <tr>
                <th>Teléfono:</th>
                <th><input type="text" name="Tutor2Telefono" placeholder="Teléfono"></th>
            </tr>
            <tr>
                <th colspan ="2">Adeudos a crear</th>
            </tr>
            <tr>
                <th>Cantidad nuevo adeudo:</th>
                <th><input type="text" name="AdeudoNuevo" placeholder="Monto"></th>
            </tr>
            <tr>
                <th>Cantidad de transacciones para pagar adeudo:</th>
                <th><select id="CantidadTransacciones" name="CantidadTransacciones">
                        <option value ="1">1</option>
                        <option value ="2">11</option>
                    </select></th>
            </tr>
            <tr>
                <td>Agregar alumno y adeudo</td>
                <td><input type="submit" value="Agregar" id="botonalumno"></td>
            </tr>
        
        </table>

</form>
{% endblock %}
