{% extends "layout.html" %}
{% block body %}
    <div>TOTAL ALUMNOS: {{ info.numestud }}</div>
    <div>TOTAL GRUPOS: {{ info.numgrupos }}</div>
    <div>TOTAL PAGADO: {{ info.totganado }}</div>
    <div>TOTAL ADEUDOS: {{ info.totadeudo }}</div>
    <table>
        <thead>
            <tr>
                <td>Grupo</td>
                <td>Total de Alumnos</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for grupo in info.grupos %}
            <tr>
                <td>{{grupo.1}}</td>
                <td>{{grupo.2}}</td>
                <td><a href="/grupo/{{grupo.0}}">Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
