{% extends "layout.html" %}
{% block body %}
    <p>Maestro Nuevo</p><br> 
    
    <label for="nombre">Nombre Completo:</label>
    <label for="fechadenac">Fecha de Nacimiento:</label>    
    <label for="materia">Materia:</label><br>
    
    <input type="text" id="nombre" name="nombre">
    <input type="text" id="fechadenac" name="fechadenac">
    <input type="text" id="materia" name="materia"><br>
    
    <label for="documentos">Documentos:</label><br>
    
    <label for="documento1">Documento 1</label>
    <input type="radio" id="si" name="si" value="si">
    <label for="si">Si</label>
    <input type="radio" id="no" name="no" value="no">
    <label for="no">No</label><br>
    
    <label for="documento2">Documento 2</label>
    <input type="radio" id="si2" name="si2" value="si">
    <label for="si2">Si</label>
    <input type="radio" id="no2" name="no2" value="no">
    <label for="no2">No</label><br>
    
    <label for="documento3">Documento 3</label>
    <input type="radio" id="si3" name="si3" value="si">
    <label for="si3">Si</label>
    <input type="radio" id="no3" name="no3" value="no">
    <label for="no3">No</label><br>

{% endblock %}
