<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Felipe Carbajal Arcia</title>
    <meta name="description" content="Felipe Carbajal Arcia">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/cs-skin-elastic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">


</head>

<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/"><i class="menu-icon fa fa-laptop"></i>Inicio </a>
                    </li>
                    <li class="menu-title">Grupos</li><!-- /.menu-title -->

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Preescolar</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="/grupo/1">1 A</a></li>
                            <li><i class="fa fa-table"></i><a href="/grupo/2">1 B</a></li>
                            <li><i class="fa fa-table"></i><a href="/grupo/3">2 A</a></li>
                            <li><i class="fa fa-table"></i><a href="/grupo/4">2 B</a></li>
                            <li><i class="fa fa-table"></i><a href="/grupo/5">3 A</a></li>
                            <li><i class="fa fa-table"></i><a href="/grupo/6">3 B</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Primaria</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/7">1 A</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/8">1 B</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/9">2 A</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/10">2 B</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/11">3 A</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/12">3 B</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/13">4 A</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/14">4 B</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/15">5 A</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/16">5 B</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/17">6 A</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/18">6 B</a></li>
                        </ul>
                    </li>

                    <li class="menu-title">Opciones</li><!-- /.menu-title -->



                    <li>
                        <a href="/logout"> <i class="menu-icon fa fa-sign-in"></i>Cerrar Sesión </a>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a href="/"><i class="pe-7s-home"></i></a>
                    <a class="navbar-brand hidden" href="/"><img src="/assets/images/logo1.jpg" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form" action="/busqueda" method="POST">
                                <input type="text" name="query" placeholder="Buscar alumno por nombre" size="9" maxlength="100">
                            </form>
                        </div>
                    </div>

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="pe-7s-user"></i>
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Cerrar Sesión</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <div class="clearfix">



                    <p>{{info.msg}}</p>
                    <form action="/grupo/{{info.student.group}}/AlumnoNuevo" method="POST">

                        <table>
                            <tr>
                                <th colspan="2" id="tcolor">Alumno Nuevo</th>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="text" name="NombreCompleto" placeholder="Nombre completo*" size="70" maxlength="60"></td>
                            </tr>

                            <tr>
                                <th>Fecha de nacimiento:</th>
                                <th><input type="date" name="FechadeNacimiento"></th>
                            </tr>
                            <tr>
                                <th>Porcentaje de beca:</th>
                                <th><input type="text" name="Beca" placeholder="%"></th>
                            </tr>
                             <tr>
                                <th>Matricula:</th>
                                <th><input type="text" name="Matricula" placeholder="Matricula"></th>
                            </tr>

                            <tr>
                                <th>Grupo:</th>
                                <th><select id="gruposelect" name="GrupoId">
                                        <option value="1" {% if info.student.group == 1 %} selected="selected" {% endif %}>Kinder 1 A</option>
                                        <option value="2" {% if info.student.group == 2 %} selected="selected" {% endif %}>Kinder 1 B</option>
                                        <option value="3" {% if info.student.group == 3 %} selected="selected" {% endif %}>Kinder 2 A</option>
                                        <option value="4" {% if info.student.group == 4 %} selected="selected" {% endif %}>Kinder 2 B</option>
                                        <option value="5" {% if info.student.group == 5 %} selected="selected" {% endif %}>Kinder 3 A</option>
                                        <option value="6" {% if info.student.group == 6 %} selected="selected" {% endif %}>Kinder 3 B</option>
                                        <option value="7" {% if info.student.group == 7 %} selected="selected" {% endif %}>1 A</option>
                                        <option value="8" {% if info.student.group == 8 %} selected="selected" {% endif %}>1 B</option>
                                        <option value="9" {% if info.student.group == 9 %} selected="selected" {% endif %}>2 A</option>
                                        <option value="10" {% if info.student.group == 10 %} selected="selected" {% endif %}>2 B</option>
                                        <option value="11" {% if info.student.group == 11 %} selected="selected" {% endif %}>3 A</option>
                                        <option value="12" {% if info.student.group == 12 %} selected="selected" {% endif %}>3 B</option>
                                        <option value="13" {% if info.student.group == 13 %} selected="selected" {% endif %}>4 A</option>
                                        <option value="14" {% if info.student.group == 14 %} selected="selected" {% endif %}>4 B</option>
                                        <option value="15" {% if info.student.group == 15 %} selected="selected" {% endif %}>5 A</option>
                                        <option value="16" {% if info.student.group == 16 %} selected="selected" {% endif %}>5 B</option>
                                        <option value="17" {% if info.student.group == 17 %} selected="selected" {% endif %}>6 A</option>
                                        <option value="18" {% if info.student.group == 18 %} selected="selected" {% endif %}>6 B</option>
                                        <option value="19" {% if info.student.group == 19 %} selected="selected" {% endif %}>7 A</option>
                                        <option value="20" {% if info.student.group == 20 %} selected="selected" {% endif %}>7 B</option>
                                        <option value="21" {% if info.student.group == 21 %} selected="selected" {% endif %}>8 A</option>
                                        <option value="22" {% if info.student.group == 22 %} selected="selected" {% endif %}>8 B</option>
                                        <option value="23" {% if info.student.group == 23 %} selected="selected" {% endif %}>9 A</option>
                                        <option value="24" {% if info.student.group == 24 %} selected="selected" {% endif %}>9 B</option>
                                    </select></th>
                            </tr>
                            <tr>
                                <th colspan="2" id="tcolor">Información Mamá</th>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="text" name="Tutor1Nombre" placeholder="Nombre completo*" size="70" maxlength="60"></td>
                            </tr>

                            <tr>
                                <th>Correo:</th>
                                <th><input type="text" name="Tutor1Correo" placeholder="Correo"></th>
                            </tr>
                            <tr>
                                <th>Parentesco:</th>
                                <th><input type="text" name="Tutor1Parentesco" placeholder="Parentesco"></th>
                            </tr>
                            <tr>
                                <th>Dirección:</th>
                                <th><input type="text" name="Tutor1Direccion" placeholder="Dirección"></th>
                            </tr>
                            <tr>
                                <th>Teléfono:</th>
                                <th><input type="text" name="Tutor1Telefono" placeholder="Teléfono"></th>
                            </tr>
                            <tr>
                                <th>Régimen Fiscal:</th>
                                <th><input type="text" name="Tutor1Regimen" placeholder="regimen"></th>
                            </tr>
                            <tr>
                                <th>Razón Social:</th>
                                <th><input type="text" name="Tutor1RS" placeholder="razonsocial"></th>
                            </tr>
                            <tr>
                                <th>CFDI:</th>
                                <th><input type="text" name="Tutor1CFDI" placeholder="cfdi"></th>
                            </tr>
                            <tr>
                                <th>RFC:</th>
                                <th><input type="text" name="Tutor1RFC" placeholder="rfc"></th>
                            </tr>
                            <tr>
                                <th>Código Postal:</th>
                                <th><input type="text" name="Tutor1CP" placeholder="cp"></th>
                            </tr>
                            <tr>
                                <th>Dirección facturación:</th>
                                <th><input type="text" name="Tutor1dirfact" placeholder="Ingresa tu dirección de facturación"></th>
                            </tr>

                            <tr>
                                <th colspan="2" id="tcolor">Información Papá</th>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="text" name="Tutor2Nombre" placeholder="Nombre completo*" size="70" maxlength="60"></td>
                            </tr>

                            <tr>
                                <th>Correo:</th>
                                <th><input type="text" name="Tutor2Correo" placeholder="Correo"></th>
                            </tr>
                            <tr>
                                <th>Parentesco:</th>
                                <th><input type="text" name="Tutor2Parentesco" placeholder="Parentesco"></th>
                            </tr>
                            <tr>
                                <th>Dirección:</th>
                                <th><input type="text" name="Tutor2Direccion" placeholder="Dirección"></th>
                            </tr>
                            <tr>
                                <th>Teléfono:</th>
                                <th><input type="text" name="Tutor2Telefono" placeholder="Teléfono"></th>
                            </tr>
                            <tr>
                                <th>Régimen Fiscal:</th>
                                <th><input type="text" name="Tutor2Regimen" placeholder="Ingresa Regimen Fiscal"></th>
                            </tr>
                            <tr>
                                <th>Razón Social:</th>
                                <th><input type="text" name="Tutor2RS" placeholder="Ingresa Razón Social"></th>
                            </tr>
                            <tr>
                                <th>CFDI:</th>
                                <th><input type="text" name="Tutor2CFDI" placeholder="Ingresa CFDI"></th>
                            </tr>
                            <tr>
                                <th>RFC:</th>
                                <th><input type="text" name="Tutor2RFC" placeholder="Ingresa RFC"></th>
                            </tr>
                            <tr>
                                <th>Código Postal:</th>
                                <th><input type="text" name="Tutor2CP" placeholder="Ingresa código postal"></th>
                            </tr>
                            <tr>
                                <th>Dirección facturación:</th>
                                <th><input type="text" name="Tutor2dirfact" placeholder="Ingresa dirección de facturación"></th>
                            </tr>

                            <tr>
                                <td>Agregar alumno y adeudo</td>
                                <td><input type="submit" value="Agregar" id="botonalumno"></td>
                            </tr>

                        </table>

                    </form>
                </div>




            </div>
        </div>
    </div>
    <!-- /#add-category -->
    </div>
    <!-- .animated -->
    </div>
    <!-- /.content -->
    <div class="clearfix"></div>
    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-inner bg-white">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; 2023 CFCA
                </div>
                <div class="col-sm-6 text-right">
                    Designed by RHP
                </div>
            </div>
        </div>
    </footer>
    <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>


</body>

</html>
