<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Felipe Carbajal Arcia</title>
    <meta name="description" content="Felipe Carbajal Arcia">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/cs-skin-elastic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->



</head>

<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/"><i class="menu-icon fa fa-laptop"></i>Inicio </a>
                    </li>
                    <li class="menu-title">Grupos</li><!-- /.menu-title -->

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Preescolar</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="/grupo/1">1 A</a></li>
                            <li><i class="fa fa-table"></i><a href="/grupo/2">1 B</a></li>
                            <li><i class="fa fa-table"></i><a href="/grupo/3">2 A</a></li>
                            <li><i class="fa fa-table"></i><a href="/grupo/4">2 B</a></li>
                            <li><i class="fa fa-table"></i><a href="/grupo/5">3 A</a></li>
                            <li><i class="fa fa-table"></i><a href="/grupo/6">3 B</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Primaria</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/7">1 A</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/8">1 B</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/9">2 A</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/10">2 B</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/11">3 A</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/12">3 B</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/13">4 A</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/14">4 B</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/15">5 A</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/16">5 B</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/17">6 A</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="/grupo/18">6 B</a></li>
                        </ul>
                    </li>


                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a href="/"><i class="pe-7s-home"></i></a>
                    <a class="navbar-brand hidden" href="/"><img src="/assets/images/logo1.jpg" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form" action="/busqueda" method="POST">
                                <input type="text" name="query" placeholder="Buscar alumno por nombre" size="9" maxlength="100">
                            </form>
                        </div>
                    </div>

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="pe-7s-user"></i>
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Cerrar Sesión</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->
        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-4">
                        <aside class="profile-nav alt">
                            <section class="card">
                                <div class="card-header user-header alt" style="background-color: #294785 !important;">
                                    <div class="media">

                                        <div class="media-body">
                                            <h2 class="text-light display-6"> {{ student.name }}</h2>
                                            <p>Grupo : {{ student.group }}</p>
                                        </div>
                                    </div>
                                </div>


                                <ul class="list-group list-group-flush">

                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-percent"></i> Beca: {{ student.beca }}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-sticky-note"></i>  Matricula Alumno: </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-book"></i> Adeudos pendientes: </a>
                                    </li>
                                </ul>

                            </section>
                        </aside>
                    </div>

                    <div class="col-md-6">
                        <div class="feed-box text-center">
                            <form action="/alumno/{{ info.aid }}/pagar/{{ info.id }}" method="POST">
                                <table>
                                    <tr>
                                        <td>Monto</td>
                                        <td>$ {{info.data.1}}</td>
                                    </tr>
                                    <tr>
                                        <td>Interéses</td>
                                        <td>$ {{ total_con_recargo[1] }} </td>
                                    </tr>
                                    <tr>
                                        <td>Total: </td>
                                        <td>$ {{ total_con_recargo[0] }} </td>
                                    </tr>
                                    <tr>
                                        <td>Forma de Pago</td>
                                        <td>
                                            <select name="metodo">
                                                <option value="Efectivo" >Efectivo</option>
                                                <option value="Transferencia" >Transferencia</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Concepto</td>
                                        <td><input type="text" name="concepto" value="{{info.data.3}}"></td>
                                    </tr>
                                    <tr>
                                        <td>Fecha Límite para no generar interéses</td>
                                        <td>{{info.data.4}}</td>
                                    </tr>

                                    <tr>
                                        <td>Fecha de pago</td>
                                        <td><input type="date" name="fechalimite" value="{{fechahoy}}"></td>
                                    </tr>
                                    <tr>
                                        <td>Estatus pago: </td>
                                        <td>
                                            {% if info.data.5 == 0 %}
                                            Sin pagar
                                            {% endif %}
                                            {% if info.data.5 == 1 %}
                                            Pagado
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <button class="btn btn-success" type="submit" id="botonactualizar">Pagar</button>
                                <br><br>
                                <a class="btn btn-warning" href='/nuevorecibol/{{ info.aid }}/{{ info.id }}' id="botonactualizar">Recibo</a>
                                <br><br>
                            </form>
                            <a class="btn btn-danger" href='/alumno/{{ info.aid }}/eliminar_adeudo/{{ info.data.0 }}' id="botonactualizar">Eliminar</a>
                        </div>
                    </div>
                </div><!-- .row -->
            </div><!-- .animated -->
        </div><!-- .content -->

        <div class="clearfix"></div>

        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; 2023 CFCA
                    </div>
                    <div class="col-sm-6 text-right">
                        Designed by RHP
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.site-footer -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>



    <!--Local Stuff-->

</body>

</html>