
<html>
	<head>
		<meta charset="utf-8">
		<title>CFCA Recibo</title>
		<link rel="stylesheet" href="{{ url_for('static', filename= 'css/estilos.css') }}">

	</head>
	<body>
		<header>
			<h1>Recibo # {{ info.id }}</h1>
			<address contenteditable>
				<p>Colegio Felipe Carbajal Arcia</p>
				<p>Puente de Rosas 102, Centro, <br>42800 Tula de Allende, Hgo.</p>
				<p>+52 773 732 5312</p>
			</address>
			<span><img alt="" src="{{ url_for('static', filename= 'images/logocfca.jpg') }}" style="width: 50%"></span>
		</header>
        <address contenteditable>
				<p>Alumno id: {{ info.aid}}</p>
                <p>Grado: Carbajal Arcia</p>
			</address>
		<article>
			<h1>Recipient</h1>

			<table class="meta">
				<tr>
					<th><span contenteditable>Recibo # </span></th>
					<td><span contenteditable>{{ info.id }}</span></td>
				</tr>
				<tr>
					<th><span contenteditable>Fecha</span></th>
					<td><span contenteditable>{{ info.data1.3 }}</span></td>
				</tr>
				<tr>
					<th><span contenteditable>Monto</span></th>
					<td><span id="prefix" contenteditable>$</span><span>{{ info.data1.0 }}</span></td>
				</tr>
			</table>
			<table class="inventory">
				<thead>
					<tr>
						<th><span contenteditable>Concepto</span></th>
						<th><span contenteditable>Método de pago</span></th>
						<th><span contenteditable>Fecha de pago</span></th>
						<th><span contenteditable>Estatus</span></th>
						<th><span contenteditable>Total</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a class="cut">-</a><span contenteditable>{{ info.data1.2 }}</span></td>
						<td><span contenteditable>{{ info.data1.1 }}</span></td>
						<td><span data-prefix></span><span contenteditable>{{ info.data1.3 }}</span></td>
						<td><span data-prefix></span><span contenteditable>{{ info.data1.4 }}</span></td>
						<td><span data-prefix>$</span><span>{{ info.data1.0 }}</span></td>
					</tr>
				</tbody>
			</table>

			<table class="balance">
				<tr>
					<th><span contenteditable>Total</span></th>
					<td><span data-prefix>$</span><span>620.00</span></td>
				</tr>

			</table>
		</article>
		<aside>
<!-- 			<h1><span contenteditable>Additional Notes</span></h1>
			<div contenteditable>
				<p>A finance charge of 1.5% will be made on unpaid balances after 30 days.</p> -->
			</div>
		</aside>
	</body>
</html>