<html>

<head>
    <meta charset="utf-8">
    <title>CFCA Recibo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/estilos.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">

</head>

<body onload="genPDF(
        '{{ info.student.name }}',
        '{{ info.student.matricula }}',
        '{{ info.student.age }}',
        '{{ info.student.group }}',
        '{{ info.data.3 }}',
        '{{ info.data.4 }}',
        '{{ info.data.2 }}',
        '{{ info.data.1 }}',
        '{{ noticia }}',
        '{{ url_for('static', filename= 'css/estilos.css') }}',
        '{{ url_for('static', filename= 'images/logocfca.jpg') }}'
    )">
    <a href="/" style="width: 30px;"><i class="menu-icon fa fa-home"></i></a>
    <a href="/alumno/{{ id }}"><i class="menu-icon fa fa-user" style="width: 30px;"></i></a>
    <header>
        <h1>Recibo #{{ info.aid }}</h1>


    </header>
    <div class="row">
        <div class="col" style="width: 50%; float: left"><span><a href="/"><img alt="" src="{{ url_for('static', filename= 'images/logocfca.jpg') }}" style="width: 80%"></a></span></div>
        <div class="col" style="width: 50%; float: left; padding-top: 10%; ">
            <address contenteditable>
                <p style="color: black; font-weight: bold; font-size: 15px; padding-bottom: 10px;">Nombre: {{ info.student.name}}</p>
                <p style="color: black; font-weight: bold; font-size: 15px; padding-bottom: 10px;">Mátricula: {{ info.student.name}}</p>
                <p style="color: black; font-weight: bold; font-size: 15px; padding-bottom: 10px;">Grupo: {{ info.student.group}}</p>
            </address>
        </div>

    </div>
    <article>

        <table class="inventory">
            <tr>
                <th><span contenteditable>Concepto </span></th>
                <td><span contenteditable>{{ info.data.3 }}</span></td>
            </tr>
            <tr>
                <th><span contenteditable>Fecha de pago</span></th>
                <td><span contenteditable>{{ info.data.4 }}</span></td>
            </tr>
            <tr>
                <th><span contenteditable>Método de Pago </span></th>
                <td><span contenteditable>{{ info.data.2 }}</span></td>
            </tr>
            <tr>
                <th><span contenteditable>Monto</span></th>
                <td><span id="prefix" contenteditable>$</span><span>{{ info.data.1 }}</span></td>
            </tr>

            <tr>
                <th><span contenteditable>Estatus</span></th>
                <td><span id="prefix" contenteditable></span><span>{{ noticia }}</span></td>
            </tr>
        </table>


    </article>
    <aside>
        {#    <a onclick="genPDF(#}
        {#        '{{ info.student.name }}',#}
        {#        '{{ info.student.matricula }}',#}
        {#        '{{ info.student.age }}',#}
        {#        '{{ info.student.group }}',#}
        {#        '{{ info.data.3 }}',#}
        {#        '{{ info.data.4 }}',#}
        {#        '{{ info.data.2 }}',#}
        {#        '{{ info.data.1 }}',#}
        {#        '{{ noticia }}',#}
        {#        '{{ url_for('static', filename= 'css/estilos.css') }}',#}
        {#        '{{ url_for('static', filename= 'images/logocfca.jpg') }}'#}
        {#    )">Descarga pdf</a>#}

    </aside>
</body>

</html>
<script src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
<!-- Carga de la biblioteca html2pdf -->
<script src="{{ url_for('static', filename='js/html2pdf.bundle.min.js') }}"></script>

<script>
    function genPDF(name, matricula, edad, grupo, concepto, fecha, metodo, monto, estatus, rutaCSS, rutaImagen) {
        var doc = new jsPDF();
        doc.addPage();
        name = name;
        matricula = matricula;
        edad = edad;
        monto = monto;
        fecha = fecha;
        estatus = estatus;



        // Código HTML a incluir en el PDF
        var htmlContent = `
        <header>
            <h1>Recibo #{{info.aid}}</h1>
        </header>
        <div class="row">
            <div class="col" style="width: 50%; float: left"><span><a href="/"><img  alt="" src="${rutaImagen}" style="width: 80%"></a></span></div>
            <div class="col" style="width: 50%; float: left; padding-top: 10%; "><address contenteditable>
                <p style="color: black; font-weight: bold; font-size: 15px; padding-bottom: 10px;">Nombre: ${name}</p>
                <p style="color: black; font-weight: bold; font-size: 15px; padding-bottom: 10px;">Mátricula: ${matricula}</p>
                <p style="color: black; font-weight: bold; font-size: 15px; padding-bottom: 10px;">Grupo: ${grupo}</p>
            </address></div>
        </div>
        <article>
            <table class="inventory">
                <tr>
                    <th><span contenteditable>Concepto </span></th>
                    <td><span contenteditable>${concepto}</span></td>
                </tr>
                <tr>
                    <th><span contenteditable>Fecha de pago</span></th>
                    <td><span contenteditable>${fecha}</span></td>
                </tr>
                <tr>
                    <th><span contenteditable>Método de Pago </span></th>
                    <td><span contenteditable>${metodo}</span></td>
                </tr>
                <tr>
                    <th><span contenteditable>Monto</span></th>
                    <td><span id="prefix" contenteditable>$</span><span>${monto}</span></td>
                </tr>
                <tr>
                    <th><span contenteditable>Estatus</span></th>
                    <td><span id="prefix" contenteditable></span><span>${estatus}</span></td>
                </tr>
            </table>
        </article>
    `;

        var opt = {
            margin: 10,
            filename: `Recibo_${name}_${concepto}.pdf`,
            image: {
                type: 'jpeg',
                quality: 0.98
            },
            html2canvas: {
                scale: 2
            },
            jsPDF: {
                unit: 'mm',
                format: 'a4',
                orientation: 'portrait'
            }
        };

        // Crear el PDF con el contenido HTML
        html2pdf().from(htmlContent).set(opt).save();
    }

</script>
